													/*LOGO*/
#logo-DIV {
	position: relative;
	margin-left: 100px;
}

#logo-img {
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: -10;	
}

#logo-txt {
	font-family: godfatherimport;
	font-size: 100px;
	color: white;
	margin-left: 250px;
	margin-top: 20px;
}

													/*	BACKGROUND	*/
#street-background {
	width: 1200px;
	height: 500px;
	position: absolute;
	margin-top: 100px;
	margin-left: 40px;
	z-index: -20;
}

html { 
  background-color: black;
}

													/*PLAYER TEXT BOX*/

h3 {
	font-family: godfatherimport;
	color: white;
	font-size: 20px;
}

#player1txt {
	font-family: dystopianimport;
	color: white;
	font-size: 40px;
	width: 300px;
	float: left;
	margin-left: 100px;
	margin-top: 100px;
}

#player2txt {
	font-family: dystopianimport;
	color: red;
	font-size: 40px;
	float: right;
	margin-right: 100px;
	margin-top: 100px;
}



											    /*PLAYER SCORES (Numbers) */
.player1 {
	font-size: 50px;
	position: absolute;
	float: left;
	margin-left: 180px;
	margin-top: 180px;
}

.player2 {
	font-size: 50px;
	position: absolute;
	margin-top: 180px;
	margin-left: 1070px;
	color: red;
}

												/* CELL BACKGROUND GIFFS */
#cell-1-bg {
	position: absolute;
	height: 100px;
	margin-left: 2px;
}

#cell-2-bg {
	position: absolute;
	height: 100px;
	margin-left: 105px;
}

#cell-3-bg {
	position: absolute;
	height: 100px;
	margin-left: 208px;
}

#cell-4-bg {
	position: absolute;
	height: 100px;
	margin-left: 312px;
}

#cell-5-bg {
	position: absolute;
	height: 100px;
	margin-left: 2px;
	margin-top: 100px;
}

#cell-6-bg {
	position: absolute;
	height: 100px;
	margin-left: 105px;
	margin-top: 100px;
}

#cell-7-bg {
	position: absolute;
	height: 100px;
	margin-left: 208px;
	margin-top: 100px;
}

#cell-8-bg {
	position: absolute;
	height: 100px;
	margin-left: 312px;
	margin-top: 100px;
}

													/* FONTS */

@font-face {
	font-family: "godfatherimport";
	src: url("./Fonts/the-godfather/TheGodfather-v2.ttf") format('truetype');
	font-weight: normal;
	font-size: normal;
}

@font-face {
	font-family: "dystopianimport";
	src: url("./Fonts/Dystopian-Future.ttf") format('truetype');
	font-weight: normal;
	font-size: normal;
}


											/* TABLE & CELLS */

.tableContainer {
	color: white !important;
	margin-left: 400px;
}

table {
	position: absolute;
}

td {
	height: 100px;
	width: 100px;
	border-width: 1px;
	border: solid;
}


											/* SELECTED CELLS */

.cell1.selected	{
	background-image: url('./Images/gold.jpg');
	background-size: 200px;
}

.cell2.selected	{
	background-image: url('./Images/money1.jpg');
	background-size: 200px;
}

.cell3.selected	{
	background-image: url('./Images/diamonds.jpg');
	background-size: 200px;
}

.cell4.selected	{
	background-image: url('./Images/golds.jpg');
	background-size: 200px;
}

											/* BUTTON */

.start-button {
	font-family: dystopianimport !important;
	font-size: 30px;
	color: black;
}

#begin-btn {
	margin-top: 220px;
	margin-left: 160px;
	width: 120px;
	height: 50px;
	background-color: red;
}

#reset-btn {
	margin-top: 220px;
	margin-left: 160px;
	width: 120px;
	height: 50px;
	background-color: red;
}