td {
	height: 100px;
	width: 100px;
	border-color: black;
	border-width: 1px;
	border: solid;
}

table {
	border-color: black;
	border-width: 1px;
	border: solid;

}

.box{
	display: none;
}

#Box1	{
	background-color: red;
}

#Box2	{
	background-color: purple;
}

#Box3	{
	background-color: green;
}

#Box4	{
	background-color: yellow;
}

.noColour {
	background-color: blue;
}